html, body {
    margin: 0 auto;
    padding: 0 auto;
    }
   canvas {
       
    margin: 0 auto;
    display:block; 
    width: 1055px;
	height: 450px;
   position: relative;
   z-index: -1;
  top:107px;
  margin-left: 315px;
  margin-right: 310px;
  float: left;
   } 
 
 img {
    position: absolute;
    left: 190px;
    top: 0px;
    z-index: -1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1035px;
  }