<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Welcome to Emtutor!
        </title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="login.js"></script>
        <script>
            $(document).ready(function(){
                $("#backtohome").click(function(){
                window.location.href='/landing.html';
                });
            });
        </script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="landing-css.css">
    </head>
    <main>
            <div class="frosted-glass">
                <ul class="list-group list-group-flush">
                    <li>
                        <div>
                            <img src="http://emtutor.azurewebsites.net/emtutor-logo.svg" width="300" height="125" style="padding: 5px;">
                        </div>
                    </li>
                    <li>
                        <div class="card-body" id="description">
                            <p class="text-center">description description description description description description description description description description description </p>
                        </div>
                    </li>
                    <li style="padding: 10px; text-align: center;">
                        <button type="button" class="btn w3-red" id="loginBtn" data-toggle="modal" data-target="#loginModal">
                            Login
                        </button>
                        <button type="button" class="btn w3-red" id="regBtn" data-toggle="modal" data-target="#registerModal">
                            Register
                        </button>
                    </li>
                </ul>
            </div>
        <section>
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="w3-text-red" id="exampleModalLabel">Login</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <p>
                                        <label class="w3-text-red"><b>User Name</b></label>
                                        <input class="w3-input w3-border" name="uname" type="text" id ="uname">
                                    </p>
                                    <p>
                                        <label class="w3-text-red" id = "pass"><b>Password</b></label>
                                        <input class="w3-input w3-border" name="pass" type="text" id ="upass">
                                    </p>
                                    <p>
                                        <button class="btn w3-red" id="loginForm">Login</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="w3-text-red" id="exampleModalLabel">Registration</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <p>
                                    <label class="w3-text-red"><b>User Name</b></label>
                                    <input class="w3-input w3-border" id="uname"  name="uname" type="text">
                                </p>
                                <p>
                                    <label class="w3-text-red"><b>Password</b></label>
                                    <input class="w3-input w3-border" id="upass" name="pass" type="text">
                                </p>
                                <p>
                                    <button class="btn w3-red" id="regForm" data-dismiss="modal" data-toggle="modal" data-target="#profileModal">Register</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="w3-text-red" id="exampleModalLabel">Hello <%= loginData.name %> ! Complete your profile</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="name" value=<%= loginData.name %> id ="name">
                            <input type="hidden" name="pass" value=<%= loginData.pass %> id = "pass">
                            <p>
                                <label class="w3-text-red"><b>Email</b>
                                </label>
                                <input class="w3-input w3-border" name="email" type="text" id ="email">
                            </p>
                                <p>
                                <label class="w3-text-red" id = "pass"><b>Mobile Number</b></label>
                                <input class="w3-input w3-border" name="phone" type="text" id ="phone">
                            </p>
                            <p>
                                <label class="w3-text-red" id = "pass"><b>Education</b>
                                </label>
                                <input class="w3-input w3-border" name="education" type="text" id ="education">
                            </p>
                            <p>
                                <label class="w3-text-red" id = "pass"><b>Area of Intrest</b>
                                </label>
                                <input class="w3-input w3-border" name="aoi" type="text" id ="aoi">
                            </p>
                            <p>
                                <button class="btn w3-red" id="saveBtn" data-dismiss="modal" data-toggle="modal" data-target="#completeModal">Save</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="w3-text-red" id="exampleModalLabel">Welcome : <%= profileData.name %>, Your profile is completed!</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="w3-text-red">
                                Here are your details:
                            </p>>
                            <div>
                                    <p>Email:     <%= profileData.email %> </p>
                                    <p>Phone:    <%= profileData.phone %> </p>
                                    <p>Education:    <%= profileData.education %> </p>
                                    <p>AOI:          <%= profileData.aoi %> </p>
                                <div>
                                    <button class="btn w3-red" id="backtohome" data-dismiss="modal" aria-label="Close">Back</button></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</html>